/* team Section Style */
.team--section {
    display: flex;
    padding: 112px 85px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
}

.team--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.team--title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.team--section--heading {
    color: black;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
}

/* .team--section--container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42.6px;
    width: 100%;
} */

.team--section--container {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    gap: 42.6px;
    grid-template-columns: repeat(4, 1fr);
}

.team--section--card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    background: #fff;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

/* .team--section--card {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    border-radius: 10.6px;
    background: var(--bg-shade);
    min-height: 250px;
} */

.team--section--img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 50%;
    margin: auto;
}

.team--section--img>img {
    width: 80%;
    border-radius: 8px;
}

/* .team--section--img {
    display: flex;
    padding: 13.3px;
    justify-content: center;
    align-items: center;
    gap: 13.3px;
    border-radius: 10.6px;
    background: #fff;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
} */

.team--section--card--content {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

/* .team--section--card--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}
 */

.team--section--title {
    color: var(--heading-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 10px;
}

.team--section--description {
    color: var(--black);
    font-size: 21.3px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
}

/* .team--container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.team--link {
    text-decoration: none;
    display: flex;
    gap: 16px;
    border-bottom: 1.33px solid var(--primary);
    padding-bottom: 10.6px;
    font-weight: 600;
}

.team--section--card:hover path {
    stroke: #006b6a;
}

.team--section--card:hover {
    border-bottom: 4px solid var(--primary);
}

.team--section--card:hover .team--section--description {
    color: var(--darkblue);
}

/* team Style Ends */