.contact {
  display: flex;
  padding: 110px 90px;

  grid-template-columns: repeat(1fr, 1fr);
  gap: 5rem;
}


.contact .left-contact .header span {
  font-weight: bolder;
  font-size: 30px;
  height: 50px;
}

.contact .right-contact {
  align-items: center;

}

.contact .right-contact .map {
  width: 1000px;
  height: 500px;

}

.contact .left-contact image {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.icon-contact {
  display: flex;
  text-align: justify;
  margin-bottom: 10px;
}

.icon-contact p {
  padding-top: 15px;
  padding-left: 10px;
}

