@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-header {
  padding: 2rem 0;
  /* ด้านบนและด้านล่างคือ 10rem, ด้านซ้ายและด้านขวาคือ 0 */
}

.text-header p {
  font-size: 15px;
}

.text-header h1 {
  font-size: 35px;
  color: orange;
}

/* navbar/header section */
a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}

.button {
  display: flex;
  align-items: center;
}

.button #menu-icon {
  margin-left: 30px;
}

.btn {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.btn:hover {
  background-color: rgb(218, 155, 39);
  transition: 0.5s;
}

.btn i {
  font-size: 25px;
  font-weight: 300;
  padding-right: 5px;
}

#menu-icon {
  font-size: 1.5rem;
  padding: 10px;
  z-index: 1001;
  cursor: pointer;
  background: orange;
  border-radius: 3px;
  color: white;
  display: none;
}

header {
  background-color: #fff;
  height: 10vh;
  box-shadow: 0 5px 30px rgb(0 22 84/10%);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 90px;
}

header a {
  margin-left: 10px;
  transition: 0.5s;
  font-weight: 500;
}

header .nav-links a:hover {
  color: orange;
}

header span {
  width: auto;
  padding: 0 6px;
  background-color: orange;
  border-radius: 50px;
  color: white;
  font-weight: 400;
}

header h4 {
  font-weight: 500;
  margin-right: 20px;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-top: 1rem;
  padding-left: 2rem;
}

li a {
  position: relative;
  padding-bottom: 0.75rem;
}

.text-header p{
  font-size: 25px;
}

.text-header h1{
  font-size: 40px;
  color: orange;
}






























@media(max-width:1106px) {
  #menu-icon {
    display: block;
    transition: all .4s ease;
  }

  #menu-icon.bx-x {
    transform: rotate(-180deg);
  }

  .nav-links {
    display: flex;
    position: absolute;
    top: -1000%;
    right: 0;
    left: 0;
    background: white;
    flex-direction: column;
    text-align: left;
    padding: 0 5%;
    transition: all .45s ease;
  }

  .nav-links.open {
    top: 100%;
  }

  .nav-links li a {
    align-items: start;
    font-size: 25px;
    padding-bottom: 2px;
  }









}